<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275056721938-a83bg0tama1cbbu6j1ch0i8fsvfnjfvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275056721938-a83bg0tama1cbbu6j1ch0i8fsvfnjfvd</string>
	<key>API_KEY</key>
	<string>AIzaSyC87bjotL3nLiN4rI_M7xYt0UK_dUvhO0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>275056721938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>colors.PlayingVideos</string>
	<key>PROJECT_ID</key>
	<string>playingvideos</string>
	<key>STORAGE_BUCKET</key>
	<string>playingvideos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275056721938:ios:2980bd0e57ff4e94</string>
	<key>DATABASE_URL</key>
	<string>https://playingvideos.firebaseio.com</string>
</dict>
</plist>